body {background-color: coral;}

#header {
	background-color: grey;
	box-shadow: 0 5px 5px silver;
	height: 104px;
	position: relative;
	margin-bottom: 5%;
}

.content {
	margin: 0px;
}

#scores {
	width: 99%;
	height: 300px;
	border-style: solid;
	border-radius: 5px;
	border: 2px solid black;
	background-color: grey;
}

.maze {
	padding-left: 5%;
	float: left;
}

button {
	margin-left: 40%;
	margin-top: 5%;
	padding: 10px;
}

.leftPanel {
	float: left;
	margin-left: 10%;
}

.rightPanel {
	float: right;
	margin-right:10%;
}

.count {
	font-size: xx-large;
	padding: 10px;	
	text-align: center;
	border: 2px solid black;
	border-radius: 5px;
} 

#mazeFrame {
	margin-left: 5%;
	float: left;
}

table {
	width: 30vw;
	height: 30vw;
	border-collapse: collapse;
	table-layout: fixed;
}

td {
	background-color: grey;
}

.top {
	border-top: 3px solid black;
}

.bottom {
	border-bottom: 3px solid black;
}

.right {
	border-right: 3px solid black;
}

.left {
	border-left: 3px solid black;
}

.marker {
	background-color: coral;
}