body {background-color: coral;}

#header {
	background-color: grey;
	box-shadow: 0 5px 5px silver;
	height: 104px;
	position: relative;
}

#content {
	padding: 10px;
}

#scores {
	height: 60%;
	width: 20%;
	border-style: solid;
	border-radius: 5px;
	border: 2px solid black;
	background-color: grey;
	margin-right: 15%;
	height: 400px;
	float: right;
}

#maze {
	float: left;
	margin-left: 5%;
}

table {
	width: 40vw;
	height: 40vw;
	border-collapse: collapse;
	table-layout: fixed;
}

td {
	background-color: grey;
}

.top {
	border-top: 3px solid black;
}

.bottom {
	border-bottom: 3px solid black;
}

.right {
	border-right: 3px solid black;
}

.left {
	border-left: 3px solid black;
}

.marker {
	background-color: coral;
}